{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>


        <section class="py-5 text-center"
                 style="background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('{% static '/store/images/banner4.jpg' %}');
                         background-repeat: no-repeat;
                         background-size: cover;
                         background-position: center center;
                         color: #fff;
                         height: 450px;
                         padding-top: 50px;">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Bienvenue à IVOIRE GAMING</h1>
                    <p class="lead">Achetez et jouez à vos jeux sur pc.</p>

                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">

            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                    {% for product in products %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" src="{{ product.thumbnail.url }}"
                                     width="100%">

                                <div class="card-body">
                                    <span class="fs-6">{{ product.name }}</span>
                                    <span class="fw-bold">{{ product.price }} FCFA</span>
                                    <div class="d-flex justify-content-between align-items-center mt-2">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au
                                                panier
                                            </button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    {% endfor %}

                </div>
            </div>
        </div>
    </main>
{% endblock %}